// Color Variables
$color-primary: #30ffbdf7;
$color-primary-light: #4dffa3;
$color-dark: #0e0e22;
$color-dark-secondary: #1a1a3a;
$color-white: #fff;
$color-black: #000;

// Opacity variants
$color-primary-10: rgba(48, 255, 141, 0.1);
$color-primary-20: rgba(48, 255, 141, 0.2);
$color-primary-30: rgba(48, 255, 141, 0.3);
$color-primary-50: rgba(48, 255, 141, 0.5);
$color-primary-60: rgba(48, 255, 141, 0.6);

$color-white-03: rgba(255, 255, 255, 0.03);
$color-white-05: rgba(255, 255, 255, 0.05);
$color-white-07: rgba(255, 255, 255, 0.7);
$color-white-09: rgba(255, 255, 255, 0.9);
$color-white-10: rgba(255, 255, 255, 0.1);
$color-white-20: rgba(255, 255, 255, 0.2);
$color-white-30: rgba(255, 255, 255, 0.3);
$color-white-50: rgba(255, 255, 255, 0.5);
$color-white-60: rgba(255, 255, 255, 0.6);

$color-black-40: rgba(0, 0, 0, 0.4);

// CSS Custom Properties (for runtime access)
:root {
    --color-dark: #{$color-dark};
    --color-primary: #{$color-primary};
    --font-family: 'Besley', serif;
}